.header * {
  display: inline;
}

.main {
  text-align: center;
  font-family: monospace, cursive, serif;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.bi-github {
  color: #333333;
}

.bi-linkedin {
  color: #0077b5;
}
